.nav {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 10px;
  display: inline-block;
}
.content {
  margin: "24px 16px 0";
  overflow: "initial";
}

.side {
  overflow: "auto";
  height: "100vh";
  position: "fixed";
  insetinlinestart: 0;
  top: 0;
  bottom: 0;
  scrollbarwidth: "thin";
  scrollbarcolor: "unset";
}
